<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Two Page Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="margin-top: 15%;">
          <form action="/login" method="POST">
            <div class="form-group">
              Email: <input type="email" name="email" class="form-control" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              Password: <input type="password" name="pwd" class="form-control" placeholder="Enter password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>